/*===> STYLING UTK FORM LOGIN & REGISTER <===*/

.input_group {
  /*---> Utk group formnya<---*/
  @apply flex rounded-xl border;
  position: relative;
}

.input_text {
  /*---> Utk group text formnya (isi dlm formnya) <---*/
  @apply w-full rounded-xl border bg-bright-white py-2 px-2;
  @apply border-none focus:outline-none;
}

.input_checkbox {
  @apply w-full py-0 px-2 flex justify-start items-center;
  @apply border-none focus:outline-none;
}

.button {
  /*---> Utk styling login button nya <---*/
  @apply w-full rounded-xl bg-gradient-to-r from-blue-500 to-indigo-500;
  @apply py-3 text-lg text-gray-50;
}

.button:hover {
  /*---> Utk styling pas hover login button nya <---*/
  @apply border-blue-500 bg-gradient-to-r from-gray-50 to-gray-100;
  @apply border text-gray-700;
}

.input_text + * {
  /*---> Styling icon dlm formnya <---*/
  color: black;
}

.input_text:focus + * {
  /*---> Styling pas formnya di click <---*/
  color: #008ec4;
}

.input_text:not([type="email"]) ~ span:hover * {
  /*---> Styling show password & don't show password <---*/
  color: #008ec4;
  cursor: pointer;
}

.custom_option {
  /*---> Styling option gender (utk placeholdernya) <---*/
  color: gray;
  @apply w-full appearance-none rounded-xl bg-bright-white py-2 px-2 hover:cursor-pointer;
}
